<div class = "container">
  <div class = "section-header row">
    <div class="heading-text col-md-6">
      Posts Listing
    </div>
    <div class="col-md-6">
      <%=link_to "New Post",new_post_path,class:"btn btn-primary float-right"%>
    </div>
  </div>

  <div class = "post-listing-section col-md-6">
    <%= render 'post_listing', posts:@posts %>
  </div>

</div>