<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <%=link_to "Live Comments",posts_path,class:"nav-link",style:"color:white" %>
  <ul class="navbar-nav">
    <% unless current_user.blank? %>
      <li class="nav-item">
        <%=link_to "Subscriptions",subscriptions_path,class:"nav-link" %>
      </li>
    <li class="nav-item float-right">
      <%=link_to "Sign Out",destroy_user_session_path,method: :delete,class:"nav-link float-right" %>
    </li>
    <% end %>
  </ul>
</nav>